<%= form_with(model: [@picture, @comment]) do |f| %>
  <% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= puralize(@comment.errors.count, "errors") %> prohibited this comment from being saved:</h2>
    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
